<script type="application/ld+json">
    [
      {
        "@context": "https://schema.org",
        "@type": "Organization",
        "name": "Moodhouse Studio",
        "legalName": "Moodhouse Print Studio",
        "foundingDate": "2015",
        "url": "https://moodhouse.studio",
        "logo": "https://raw.githubusercontent.com/ImRfyz/img/main/logo.png",
        "contactPoint": [
          {
            "@type": "ContactPoint",
            "telephone": "+6285156667780",
            "email": "mailto:support@moodhouse.studio",
            "url": "https://moodhouse.studio/hubungi-kami/",
            "contactType": "customer service",
            "areaServed": "ID",
            "availableLanguage": [
              "en",
              "Indonesian"
            ]
          },
          {
            "@type": "ContactPoint",
            "telephone": "+6285591396264",
            "email": "mailto:sales@moodhouse.studio",
            "url": "https://moodhouse.studio/kontak-sales/",
            "contactType": "sales",
            "areaServed": "ID",
            "availableLanguage": [
              "en",
              "Indonesian"
            ]
          }
        ],
        "address": [
          {
            "@type": "PostalAddress",
            "addressLocality": "Jl. Raya Syeh Quro RT 01/01 Kedawung, Lemahabang, Kab. Karawang",
            "addressCountry": "Indonesia",
            "postalCode": "41382",
            "streetAddress": "Deneva Hub, Jl. Rogoyudan 1 No.2, Kabupaten Sleman"
          }
        ],
        "sameAs": [
          "https://www.facebook.com/moodhouse.studio",
          "https://twitter.com/moodhouse.studio",
          "https://instagram.com/moodhouse.studio/",
          "https://www.linkedin.com/company/moodhouse.studio/"
        ]
      },
      {
        "@context": "https://schema.org",
        "@type": "LocalBusiness",
        "name": "Moodhouse Studio",
        "image": "https://raw.githubusercontent.com/ImRfyz/img/main/img-mdhs.png",
        "url": "https://moodhouse.studio",
        "telephone": "+6285591396264",
        "priceRange": "IDR12.000",
        "address": {
          "@type": "PostalAddress",
          "streetAddress": "Jl. Raya Syeh Quro RT 01/01 Kedawung, Lemahabang",
          "addressLocality": "Karawang",
          "postalCode": "41383",
          "addressCountry": "ID"
        },
        "geo": {
          "@type": "GeoCoordinates",
          "latitude": -6.294484,
          "longitude": 107.436497
        },
        "openingHoursSpecification": {
          "@type": "OpeningHoursSpecification",
          "dayOfWeek": [
            "Monday",
            "Tuesday",
            "Wednesday",
            "Thursday",
            "Friday",
            "Saturday",
            "Sunday"
          ],
          "opens": "10:00",
          "closes": "20:59"
        }
      }
    ]
    </script>